*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: helvetica;
    background: linear-gradient(150deg, #6C3483, #58d683);
    height: 100vh;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.products {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.card-product {
    background: linear-gradient(225deg, rgba(112, 112. 112, 1) 0%, rgb(177, 177, 177) 57%);
    padding: 50px 30px;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    color: #dfdfdf;
    text-align: center;
}

.card-product p {
    text-align: left;
}

.card-product img {
    height: 300px;
    margin-bottom: 30px;
}

.product-title h3 {
    color: #f5f5f5;
    font-size: 18px;
    font-weight: 500;
}

.price{
    color: #f5f5f5;
    font-weight: 900;
}

.product-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.fa-heart {
    padding: 15px;
    border: 1px solid #f69858;
    border-radius: 10px;
}

.fa-heart:hover {
    background-color: #f69858;
    cursor: pointer;
}

.product-button a {
    display: block;
    padding: 15px 20px;
    background-color: #f69858;
    color: #f5f5f5;
    text-decoration: none;
    border-radius: 10px;
}

.product-button a:hover {
    background-color: #ff8d41;
}

#cart-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    color: #f69858;
    font-size: 15px;
    text-decoration: none;
    background-color: #707070;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#cart-icon i{
    margin-right: 5px;
}

.cart-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16 px;
    border: none;
    background:none ;
    outline: none;
}

.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.username span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #6C3483;
    transition: .5s;
}

.username input:focus ~ label,
.username input:focus ~ label   {
    top: -5px;
    color: #6C3483;
}

.username input:focus ~ span::before,
.username input:focus ~ span::before   {
    width: 100%;
}
form .contraseña{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.contraseña input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16 px;
    border: none;
    background:none ;
    outline: none;
}

.contraseña label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.contraseña span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #6C3483;
    transition: .5s;
}

.contraseña input:focus ~ label,
.contraseña input:focus ~ label   {
    top: -5px;
    color: #6C3483;
}

.contraseña input:focus ~ span::before,
.contraseña input:focus ~ span::before   {
    width: 100%;
}

.recordar{
    margin: -5px 0 20px 5px;
    color: blue;
    cursor: pointer;
}

.recordar:hover {
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #6C3483;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: purple;
    transition: .5s;
}

.registrarse{
margin: 30px 0;
text-align: center;
font-size: 16px;
color: black;
}

.registrarse a{
    color: blue;
    text-decoration: none;
}

.registrarse a:hover {
    text-decoration: underline;
}